################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.cache
*.editorconfig
*.dll
*.props
*.Up2Date
*.txt
*.BuildWithSkipAnalyzers
*.exe
*.targets
*.pdb
*.config
*.suo
*.v2
/Placement_PolicyAPI/obj/PolicyAPI.csproj.nuget.dgspec.json
/Placement_PolicyAPI/obj/project.assets.json
/.vs/Placement_Policy/v17/DocumentLayout.backup.json
/.vs/Placement_Policy/v17/DocumentLayout.json
/Placement_Policy/obj/Placement_Policy.csproj.nuget.dgspec.json
/Placement_Policy/obj/project.assets.json
/Placement_PolicyAPI/obj/Debug/net8.0/staticwebassets.build.json
/Placement_PolicyAPI/obj/Placement_PolicyAPI.csproj.nuget.dgspec.json
